@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap");
html,
body {
  padding: 0;
  margin: 0;
}

body {
  background: #4b6cb7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #182848,
    #4b6cb7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #182848,
    #4b6cb7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Cabin Sketch", cursive;
}

#quiz {
  background-color: cornflowerblue;
  width: 30rem;
  text-align: center;
  border-radius: 2rem;
}

h1 {
  color: rgb(9, 26, 91);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  text-align: center;
  padding: 2px 0;
}

#question {
  font-size: 20px;
  color: rgba(9, 33, 65, 0.938);
}

.button {
  background-color: rgb(23, 63, 106);
  color: azure;
  width: 250px;
  font-size: 20px;
  border-radius: 1rem;
  padding: 10px 20px;
  margin: 10px 40px 10px;
  outline: 0;
}

.button:hover {
  cursor: pointer;
  background-color: cornflowerblue;
}
#progress {
  font-size: 20px;
}
